body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.main-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #45a049;
}

.dropdown select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    appearance: none;
}

.dropdown select:focus {
    outline: none;
}

.dropdown option {
    background-color: white;
    color: black;
}

.dropdown optgroup {
    font-weight: bold;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.navbar-title {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.hamburger {
    cursor: pointer;
    padding: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 999;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 30px 0;
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:first-child {
    margin-top: 60px;
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.sidebar-button:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}

.sidebar-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.sidebar-button:not(.disabled):hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}